# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore local configuration files
*.env

# Ignore SQL Server-related files
*.mdf
*.ldf
*.ndf

# Ignore temporary or backup files
*.log
*.bak
*.tmp

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore exported data or raw files
*.csv

# Ignore PNG and PDF files globally, but allow docs/ diagrams
*.png
*.pdf
!docs/*.png
!docs/*.pdf
